.selector-more-less{
  border: 1px solid;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selector-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-outer{
  width: 35px;
  height: 35px;
  background: #af3b3f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-inner{
  align-items: center;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 15px;
}

.button-selected{
  background: #FF5A5F;
}

.button-name{
  margin: 0 10px
}


#grid{
  display: table;
  width: auto;
  border: 1px solid #af3b3f;
}

.table-row{
  display: table-row;
  width: auto;
  clear: both;
}

.table-col {
  float: left;
  display: table-column;
  width: 140px;
  height: 70px;
  border: 1px solid #af3b3f;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.table-header{
  height: 60px;
  background: #FF5A5F;
  border: 1px solid #af3b3f;
  cursor: pointer;
}

.col-more{
  display: none;
}

.table-name{

}

.table-plan{

}

.table-forcast{

}

.table-bestcase{

}

.table-commit{
  
}
